<html><head>

    <h1>UAE Events-Map</h1>

    <div id="view-side" class="map"></div>

        <script  async defer src="//maps.googleapis.com/maps/api/js?v=3.34&key=AIzaSyBeXr8TNLiXFga7Ja69_MHHEak2Ng6kECE&amp;map_ids=(None,)&amp;language=en&amp;region=US"></script>

<script src="https://unpkg.com/deck.gl@^7.0.0/dist.min.js"></script>

<script src="https://maps.googleapis.com/maps-api-v3/api/js/42/6/kml.js"></script>

<style type="text/css">
      #view-side { height:900px;width:1800px;margin:0; }
</style>

<script type="text/javascript">
    var map = null;
    var map_markers = [];
    var map_rectangles = [];
    var map_circles = [];
    var map_polygons = [];
    var map_polylines = [];
    var prev_infowindow_map = null;

    function initialize_map() {
        //document.getElementById('view-side').style.display = 'block';
        map = new google.maps.Map(
        document.getElementById('view-side'), {
            center: new google.maps.LatLng({{lat}}, {{lng}}),
            zoom: 13,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            zoomControl: true,
            mapTypeControl: true,
            scaleControl: true,
            streetViewControl: true,
            rotateControl: true,
            scrollwheel: true,
            fullscreenControl: true,
            styles: ""
        });

        //center map location on user location


        // add kml layer on map
        const ctaLayer = new google.maps.KmlLayer({
        url: "",
        map: map,
         });




         {%for i in range(0, len )%}
             map_markers[{{i}}] = new google.maps.Marker({

                 position: new google.maps.LatLng({"icon": "static/red-dot.png", "lat": {{markers[i][1]}}, "lng": {{markers[i][0]}}}),
                 map: map,
                 icon: "static/red-dot.png",
                 title: "{{markers[i][2]}}",
                 label: "{{markers[i][2]}}"
             });

             /*
             if(raw_markers[{{i}}].infobox)
             {
                 google.maps.event.addListener(
                         map_markers[{{i}}],
                         'click',
                         getInfoCallback(map, raw_markers[{{i}}].infobox)
                 );
             }*/
         {%endfor%}


    }

    function getInfoCallback(map, content) {
        var infowindow = new google.maps.InfoWindow({content: content});
        return function(ev) {
            if( prev_infowindow_map ) {
                prev_infowindow_map.close();
            }
            prev_infowindow_map = infowindow;
            infowindow.setPosition(ev.latLng);
            infowindow.setContent(content);
            infowindow.open(map, this);
        };
    }

    function clickposCallback(uri, latLng) {
    	xhttp = new XMLHttpRequest();
    	xhttp.open("POST", uri);
    	xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("lat=" + latLng.lat() + "&lng="  + latLng.lng());
    }


        google.maps.event.addDomListener(window, 'load', initialize_map);


</script>
<script type="text/javascript" charset="UTF-8" src="http://maps.googleapis.com/maps-api-v3/api/js/46/11/common.js"></script><script type="text/javascript" charset="UTF-8" src="http://maps.googleapis.com/maps-api-v3/api/js/46/11/util.js"></script></head>




<body>
</body></html>
